<div class="jumbotron">
    <h1 class="display-4">Eat Da Burger!</h1>
    <hr class="my-4">
    <p class="lead">Simple app to add a burger to be eaten, devour the burger, and if you have the "juice", delete a burger</p>
</div>

<div class="container">
    <section class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 col-left">
            <table>
                {{> page/food}}
            </table>
        </div>
        <div class="col-sm-5 col-right">
            <table>
                {{> page/adminDelete}}
            </table>
        </div>
        <div class="col-sm-1"></div>
    </section>

    <section>
        <form>
            <div class="row">
                <div class="col"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea name="burger-name" id="addBurger" cols="40" rows="2"
                            placeholder="Add your burger"></textarea>
                    </div>
                    <button id='submitBurger' type="button" class="btn bg-gradient-secondary btn-primary btn-md">Add
                        Me!</button>
                </div>
                <div class="col"></div>
            </div>
        </form>
    </section>
</div>