<div class="container">

    <section class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 col-left">
            <table>
                {{> page/food}}
            </table>
        </div>
        <div class="col-sm-4 col-right">
            <table>    
                {{> page/devourFood}}
            </table>
        </div>
        <div class="col-sm-2"></div>
    </section>

    <section>
        <form>
            <div class="row">
                <div class="col"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea name="burger-name" id="addBurger" cols="40" rows="2"
                            placeholder="Add your burger"></textarea>
                    </div>
                    <button id='submitBurger' type="button" class="btn bg-gradient-secondary btn-primary btn-md">Add
                        Me!</button>
                </div>
                <div class="col"></div>
            </div>
        </form>
    </section>
</div>