                {{#each burgers}}
                {{#if devoured}}
                <tr>
                    <td>{{id}} {{burger_name}}</td>
                </tr>
                {{/if}}
                {{/each}}